[include LED-Effects-Main.cfg]

#####################################################################
# LED Sequence State
#####################################################################
[gcode_macro _LED_SEQUENCE]
variable_active: 0
variable_in_print: 0
gcode:

[gcode_macro _LED_LOCK]
gcode:
    SET_GCODE_VARIABLE MACRO=_LED_SEQUENCE VARIABLE=active VALUE=1

[gcode_macro _LED_UNLOCK]
gcode:
    SET_GCODE_VARIABLE MACRO=_LED_SEQUENCE VARIABLE=active VALUE=0

#####################################################################
# Status Macros
#####################################################################
[gcode_macro status_ready]
gcode:
    {% if printer["gcode_macro _LED_SEQUENCE"].active|int == 0 %}
        STOP_LED_EFFECTS LEDS="neopixel:stealthburner"
        STOP_LED_EFFECTS LEDS="neopixel:chamber_lights"
        STOP_LED_EFFECTS LEDS="neopixel:electrical_bay"
        SET_LED_EFFECT EFFECT=sb_logo_idle
        SET_LED_EFFECT EFFECT=sb_nozzle_idle
        SET_LED_EFFECT EFFECT=Chamber_idle_led
        SET_LED_EFFECT EFFECT=Bay_idle_led
    {% endif %}

[gcode_macro status_heating]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_thermal REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_thermal REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_thermal REPLACE=1
    SET_LED_EFFECT EFFECT=bay_thermal REPLACE=1

#[gcode_macro status_printing]
#gcode:
#    _LED_LOCK
#    SET_LED_EFFECT EFFECT=sb_logo_printing REPLACE=1
#    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
#    SET_LED_EFFECT EFFECT=chamber_print_white REPLACE=1
#    SET_LED_EFFECT EFFECT=bay_printing REPLACE=1


[gcode_macro status_printing]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_printing REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_print_progress_left REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_print_front_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_print_progress_right REPLACE=1
    SET_LED_EFFECT EFFECT=bay_printing REPLACE=1


[gcode_macro status_print_done]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_print_done REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_rainbow_alt REPLACE=1
    SET_LED_EFFECT EFFECT=Chamber_Print_done REPLACE=1
    SET_LED_EFFECT EFFECT=bay_victory REPLACE=1

[gcode_macro status_leveling]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_leveling REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_qgl_left_fwd REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_qgl_left_bwd REPLACE=0
    SET_LED_EFFECT EFFECT=chamber_qgl_front_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_qgl_right_fwd REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_qgl_right_bwd REPLACE=0
    SET_LED_EFFECT EFFECT=Bay_leveling REPLACE=1
    

[gcode_macro status_homing]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_homing REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_homing REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_homing REPLACE=1
    SET_LED_EFFECT EFFECT=bay_homing REPLACE=1

[gcode_macro status_unloading]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_unloading REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_unloading_left REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_unloading_front REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_unloading_right REPLACE=1
    SET_LED_EFFECT EFFECT=bay_unloading_trail REPLACE=1


[gcode_macro status_loading]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_loading REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_loading_left REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_loading_front REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_loading_right REPLACE=1
    SET_LED_EFFECT EFFECT=Bay_loading_trail REPLACE=1

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_meshing]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_meshing REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_mesh_left_fwd REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_mesh_left_bwd REPLACE=0
    SET_LED_EFFECT EFFECT=chamber_mesh_front REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_mesh_right_fwd REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_mesh_right_bwd REPLACE=0
    SET_LED_EFFECT EFFECT=bay_meshing_scan REPLACE=1

    
[gcode_macro status_nozzle_wipe]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=sb_logo_nozzle_wipe REPLACE=1
    SET_LED_EFFECT EFFECT=sb_nozzle_full_white REPLACE=1
    SET_LED_EFFECT EFFECT=chamber_nozzle_wipe REPLACE=1
    SET_LED_EFFECT EFFECT=Bay_Nozzle_Wipe REPLACE=1
    

[gcode_macro status_pause]
gcode:
    _LED_LOCK
    SET_LED_EFFECT EFFECT=pause_heartbeat REPLACE=1


#####################################################################
# Global Intercept Interlock
#####################################################################
[gcode_macro SET_LED]
rename_existing: SET_LED_BASE
gcode:
    {% set led = params.LED|default("")|string %}
    {% set red = params.RED|default(0.0)|float %}
    {% set green = params.GREEN|default(0.0)|float %}
    {% set blue = params.BLUE|default(0.0)|float %}
    {% set white = params.WHITE|default(0.0)|float %}
    {% set index = params.INDEX|default("")|string %}
    {% if led %}
        {% if "neopixel:" in led or "dotstar:" in led %}
            STOP_LED_EFFECTS LEDS="{led}"
        {% else %}
            STOP_LED_EFFECTS LEDS="neopixel:{led}"
        {% endif %}
    {% endif %}
    {% if index %}
        SET_LED_BASE LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white} INDEX={index}
    {% else %}
        SET_LED_BASE LED={led} RED={red} GREEN={green} BLUE={blue} WHITE={white}
    {% endif %}