

#####################################################################
#   Endstops
#####################################################################

## XES - Toolhead PCB
#[stepper_x]
#endstop_pin: nhk:PB0

## YES - Toolhead PCB
#[stepper_y]
#endstop_pin: nhk:PB1

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:PB8
dir_pin: nhk:PB9
enable_pin: !nhk:PC14
rotation_distance: 22.67   # Bondtech 5mm Drive Gears
gear_ratio: 50:10       # Stealthburner / CW2 Gear Ratio
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhk:PA7
#sensor_type: Generic 3950   #WRONG ONE, replaced below
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhk:PB12
pullup_resistor: 2200
min_temp: 0    
max_temp: 270
max_power: 1.0
min_extrude_temp: 190
pressure_advance: 0.043
max_extrude_only_distance: 100.0

[firmware_retraction]
retract_length: 0.35
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 35

[tmc2209 extruder]
uart_pin: nhk:PB7
tx_pin: nhk:PB6
interpolate: false     # Smooths out the step waves without losing any precision
run_current: 0.55
sense_resistor: 0.100
stealthchop_threshold: 0

#####################################################################
#   Fans
#####################################################################
## PCF
[fan] 
pin: nhk:PA15
max_power: 1
kick_start_time: 0.500     
off_below: 0.1   
#tachometer_pin: nhk:PD2
#tachometer_ppr: 2

## HEF
[heater_fan hotend_fan] 
pin: nhk:PD0
heater_temp: 50.0
max_power: 1
kick_start_time: 0.5
#tachometer_pin: nhk:PD1
#tachometer_ppr: 2


#####################################################################
# 	Probe
#####################################################################
## Probe Port
[probe]
pin: nhk:PB1
x_offset: 0
y_offset: 24.65
speed: 5.0
lift_speed: 10.0
samples: 5
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.005
samples_tolerance_retries: 4

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:PB10
spi_software_sclk_pin: nhk:PA5
spi_software_mosi_pin: nhk:PA2
spi_software_miso_pin: nhk:PA6
axes_map: z, x, y

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
probe_points:
    155, 155, 20

#####################################################################
#   Thermistors
#####################################################################
[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin: nhk:PB2
pullup_resistor: 4700
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor Nitehawk]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 85

#####################################################################
#   I2C port
#####################################################################
#i2c_software_scl_pin: nhk:PB3
#i2c_software_sda_pin: nhk:PB4
